html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #ffffff;
  font-family:  Arial, Helvetica, sans-serif;
  text-align: center;
}

#password {
  text-align: center;
  width: 300px;
}

#row {
  display: flex;
  justify-content: center;
  align-items: center;
}